*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: black;
    font-size: .8rem;
    min-width: 925px;
}



.flex-centered{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

main{
    height: calc(100vh - 110px);
    overflow-y: auto;
}


main section.contenitore{
    height: 100%;
}

article{
    width: 250px;
    height: 150px;
    position: relative;
    padding: .25rem;
}


article img.immagine-partecipante{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

article span.nome {
    position: absolute;
    left: .25rem;
    bottom: .25rem;
    background-color: rgba(0, 0, 0, .4);
    padding:0 .25rem;
}


header{
    height: 70px;
    background-color: #222222;
}

header.flex-centered{
    justify-content: space-between;
}

header > section{
    height: 100%;
    display: flex;
}

header > section div.bottone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .66rem;
}

header > section div.bottone > i{
    font-size: 1.4rem;
    margin-bottom: .25rem;
}

header > section div.bottone > i.fa-chevron-up{
    font-size: .66rem;
}

header > section div.bottone > i.fa-share-from-square{
    color: lightgreen;
}

header > section div.bottone.fine {
    background-color: #4a4a4a;
    color: red;
}


#taskbar{
    height: 40px;
    text-align: right;
}

#taskbar span{
    display: inline-block;
    margin-top: .25rem;
    margin-right: .25rem;
    border-radius: .25rem;
    background-color: #494c4c;
    padding: .25rem .5rem;
}

#taskbar i.fa-grip{
    margin-right: .25rem;
}